<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div class="pagetitle">
      <h1>Let us predict the year your favorite songs are from!</h1>
    </div>

      <div class="main">
        <form method="post" action="{{ url_for('submit_playlist_song_id') }}">
          <label for="playlist_id">Playlist Id: </label>
          <input type="text" name="playlist_id" id="submitted_playlist_id"><br/>
          <label for="song_id">Song Id:</label>
          <input type="text" name="song_id" id="submitted_song_id"><br/>
          <br/>
          <input type="submit">
        </form>

        Sample Playlists: <br>
        <ul id="sample_playlist_ids">
          <li id="37i9dQZEVXcIEsENDsr0sr">Siham's Discover Weekly: 37i9dQZEVXcIEsENDsr0sr</li>
          <li id="2XDRQc26f7Em6tz1Ko94WV">Fatima's Halsey! Playlist: 2XDRQc26f7Em6tz1Ko94WV</li>     
          <li id="0EWVBVk3Ype0EhNiRTWOpE">Clean Class Coding Playlist: 0EWVBVk3Ype0EhNiRTWOpE</li>       
          <li id="37i9dQZF1DX44t7uCdkV1A">Spotify's Viral Hits: 37i9dQZF1DX44t7uCdkV1A</li>
          <li id="37i9dQZF1DWUa8ZRTfalHk"> Spotify's Pop Rising: 37i9dQZF1DWUa8ZRTfalHk</li>
        </ul>

        <br>
        Sample Songs: <br>
        <ul id="sample_song_ids">
            <li id="4Sib57MmYGJzSvkW84jTwh">Taylor Swift, Me: 4Sib57MmYGJzSvkW84jTwh</li>       
            <li id="5lA3pwMkBdd24StM90QrNR">Michael Jackon, Pretty Young Thing: 5lA3pwMkBdd24StM90QrNR</li>  
            <li id="1Je1IMUlBXcx1Fz0WE7oPT">Spice Girls, Wannabe: 1Je1IMUlBXcx1Fz0WE7oPT</li>  
            <li id="1gZ7i4qxXkHZb1r6eioaAP">Pussycat Dolls: Don't Cha: 1gZ7i4qxXkHZb1r6eioaAP</li> 
            
        </ul>
      </div>

      <br/><br/><br/>

      <div class="main">
        <form method="post" action="{{ url_for('submit_diy_values') }}">

        {% for feature in features %}
        <label for="{{feature.name}}">{{feature.name}}: </label>
        <input id="{{feature.name}}" type="range" name="{{feature.name.lower()}}" min="{{feature.min}}" max="{{feature.max}}" step="{{feature.step}}"> 
        <label id="{{feature.name}}Label"></label> <br>
        {% endfor %}
        <br/>
        <input type="submit">
        </form>
      </div>
    </form>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  // Get all the range input types
  var all_ranges = document.querySelectorAll('[type="range"]');
  for (i = 0; i < all_ranges.length; i++) {
    // get the label for that range
    var output = document.getElementById(all_ranges[i].id + "Label");
    output.innerHTML = all_ranges[i].value; // Display the default slider value
    // Update the current slider value (each time you drag the slider handle)
    all_ranges[i].oninput = function() {
      document.getElementById(this.id + "Label").innerHTML = this.value;
    }
  }

  $(function() {
    $("#sample_playlist_ids li").not('.emptyMessage').click(function() {
      $("#submitted_playlist_id").val(this.id)
  });
 });

 $(function() {
    $("#sample_song_ids li").not('.emptyMessage').click(function() {
      $("#submitted_song_id").val(this.id)
  });
 });
 
  
</script>  
