<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>

     <div class="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information that you sent:</p>
       <p>
          <strong>Playlist id</strong>: <a href="https://open.spotify.com/playlist/{{playlist_id}}">{{playlist_id}}</a><br>
          <strong>Playlist Year Predicition</strong>: {{playlist_prediction}}<br>
          <strong>Your playlist has the following genres</strong>: <br>
          
          <ul>
            {% for genre in playlist_genres %}
            <li>{{genre.genre}}: {{genre.count}}</li>
            {% endfor %}
          </ul>

          <br><br><br>
          <strong>Song id</strong>: <a href="https://open.spotify.com/track/{{song_id}}">{{song_id}}</a><br>
          <strong>Song Year Predicition</strong>: {{song_prediction}} <br>
          <strong>Song Genre Predicition</strong>: {{song_genre}}<br>
       </p>
       <a href="{{ url_for('form') }}">Submit another Playlist or Song</a><br>
     </div>
   </div>
 </body>
</html>
