<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>

     <div id="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information that you sent:</p>
       <p>
          <strong>Playlist id</strong>: <a href="https://open.spotify.com/playlist/{{playlist_id}}">{{playlist_id}}</a><br>
          <strong>Song id</strong>: <a href="https://open.spotify.com/track/{{song_id}}">{{song_id}}</a><br>
          <strong>Song Year Predicition</strong>: {{song_prediction}} <br>
          <strong>Playlist Year Predicition</strong>: {{playlist_prediction}} <br>
       </p>
     </div>
   </div>
 </body>
</html>
