<html>
    <head>
        <title>Submitted form</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>

    <body>
        <div class="pagetitle">
            <h1>Form submitted</h1>
        </div>
            
        <div class="main">
            <p>Thanks for your submission!</p>
            <p>Here's a review of the information that you sent:</p>
            <p>
                <strong>Acousticness</strong>: {{acousticness}}<br/>
                <strong>Song Year Predicition</strong>: {{year_prediciton}} <br>
                <strong>Song Genre Prediction</strong>: {{genre_prediction}} <br/>
            </p>
        </div>
    </body>
</html>