<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information that you sent:</p>
       <p>
          <strong>Playlist id</strong>: {{playlist_id}} <br>
          <strong>Song id</strong>: {{song_id}} <br>
          <strong>Year Predicition</strong>: {{prediction}} <br>
       </p>
     </div>
   </div>
 </body>
</html>